* {
    font-family: "Space Grotesk", sans-serif;
}

h1 {
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 350px;
}

#container > div {
    margin-bottom: 10px;
}

input[type=checkbox] {
    margin: 0 10px 0 0;
}
